<div class="user-card-container">
    <mat-card class="user-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ user.firstName }} {{ user.lastName }}</mat-card-title>
            <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./assets/img/profile-pic.png" alt="profile pic avatar">
        <mat-card-content>
            <mat-card-title>Address</mat-card-title>
            <mat-card-subtitle>{{ user.street }}</mat-card-subtitle>
            <mat-card-subtitle>{{ user.zipCode }}</mat-card-subtitle>
            <mat-card-subtitle>{{ user.city }}</mat-card-subtitle>

            <mat-card-title>Birthday</mat-card-title>
            <mat-card-subtitle>{{ user.birthday }}</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>