.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

mat-dialog-content {
    width: 500px;
    height: 600px;
    overflow: hidden;
}

.full-width {
    width: 100%;
}