<mat-card>
    <mat-card-content>
        <table>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Email</th>
                <th>Birthday</th>
            </tr>

            @for (user of firebase.users; track $index) {
                <tr [routerLink]="['/user/'+ user.id]">
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.birthday }}</td>
                </tr>
            }
        </table>
    </mat-card-content>
</mat-card>

<button (click)="openDialog()" mat-fab color="primary" matTooltip="Add user" matTooltipPosition="above">
    <mat-icon>add</mat-icon>
</button>