<mat-card>
    <mat-card-content>
        <table>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Email</th>
                <th>Birthday</th>
            </tr>

            
            <tr>
                <td>adfasdf</td>
                <td>tbtbtdf</td>
                <td>tsbtbst</td>
                <td>13535</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>
  
<button (click)="openDialog()" mat-fab color="primary" matTooltip="Add user" matTooltipPosition="above">
    <mat-icon>add</mat-icon>
</button>